<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Postadresse</h5>
        {{ shop.name }} AS<br>
        Postboks 1704, Raglamyr<br>
        5505 Haugesund, Norway
      </div>
      <div class="col-md-3">
        <h5>Besøksadresse</h5>
        Ørpetveitvegen 310<br>
        5542 Karmsund
      </div>
      <div class="col-md-3">
        <h5>Kontaktinfo</h5>
        Tel: +47 52 84 50 40<br>
        E-post: post@bronze.no
      </div>
      <div>
        <a href="#" class="footer-icon"><i class="fa fa-facebook-square"></i></a>
        <a href="#" class="footer-icon"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>
</footer>

<footer>

  <div class="row row-centered certification-wrapper">
    <div class="col-xs-5 col-xs-offset-1 center-block certified">
      {{ 'certified.png' | asset_url | img_tag: 'Achilles'}}
    </div>
    <div class="col-xs-6 center-block achilles">
      {{ 'achilles.png' | asset_url | img_tag: 'Achilles'}}
    </div>
  </div>



  
</footer>
