//
// Mixins
// _mixins.scss
// Created on 11.9.2015.
//
// @author Fredrik Kallevik <fredrik@idrift.no>
// @copyright 2012 - 2015 iDrift Web AS
// @version 1.0.0

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


// End of file _mixins.scss 
// Location: ./content/themes/olaussensmetall/styles/partials/_mixins.scss 