//
// Theme styles
// _styles.scss
// Created on 7.9.2015.
//
// @author Fredrik Kallevik <fredrik@idrift.no>
// @copyright 2012 - 2015 iDrift Web AS
// @version 1.0.0

/* ==========================================================================
   Header
   ========================================================================== */

$header-height: 103px;

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	padding: 25px;
	background: $gray-lightest;
	border-bottom: 2px solid $gray-lighter;

	> .container { @include clearfix; }

	.logo-main {
		margin-top: 10px;
		float: left;
		> a {
			@include text-hide;
			width: 350px;
			height: 51px;
			display: block;
			background-size: 350px 51px;
			background: url("logo-netthandel.png") no-repeat center top;
			transition: all 150ms;
		}
	}

	.nav-main {
		margin-top: 30px; // Changed from 30px
		margin-bottom: 30px;

		float: right;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a { display: block; }

		> ul {
			@include clearfix;

			> li {
				float: left;
				margin: 0 9px;

				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }

				> a {
					font: normal 14px/20px $font-family-base;
					color: $gray-dark;
				}

			}

		}
	}

	.toggle-mobile-nav { display: none; }
}

/* ==========================================================================
   Mmenu overriding the looks
   ========================================================================== */
.mm-menu .mm-list {
	padding-top: $header-height + 20px;
}


.mm-menu .mm-list > li:after {
	border-color: $gray-lighter;
}

#nav-mobile { background: $gray-lightest; }
#nav-mobile a { color: $brand-primary; }
#nav-mobile a:hover { color: $brand-secondary; }

/* ==========================================================================
/*  Wrappers
	========================================================================== */

.page-wrapper {
	padding-top: (9 * $spacer-y);
	margin-top: $header-height;

	h1, h2, h3, h4, h5, h6 {
		color: $brand-primary;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	margin-top: (3 * $spacer-y);
	padding-top: $spacer-y;
	padding-bottom: 32px;
	background: $brand-primary;
	text-align: center;
	color: white;
	font: normal 14px/30px $font-family-base;

	h5 {
		margin-top: (2 * $spacer-y);
	}
}

.footer-icon {
	margin-top: $spacer-y;
	display: inline-block;
	margin-left: $spacer-x;
	font-size: 48px;
	line-height: 60px;
	text-decoration: none !important;
	color: white;
}

.footer-icon a:hover {
	color: red;
}

.certification-wrapper {
	margin: 0 auto;
	margin-top: $spacer;
	width: 370px;
	height: 105px;
	max-width: 100%;

	.certified {
		width: 206px;
		height: 82px;
		display: block;
		@include vertical-align();
	}

	.achilles{
		width: 131px;
		height: 105px;
		display: block;
		@include vertical-align();
	}
}

/* ==========================================================================
/*  Shopify
	========================================================================== */
.search-form {
	transform: translateY(-50%);
}

.product-price {
	@extend h3;
}

#product-description {
	margin-bottom: $spacer-y;
}

.section-margins, section, #customer, ul, ol, table, .product-details > div, .product-details > p {
	margin: 0 0 $spacer-y;
}


/* ==========================================================================
/*  Bootstrap Overrides
	========================================================================== */
.no-padding {
	padding: 0;
}

.form-control {
  border: 1px solid $gray-light;
}

// End of file _styles.scss
// Location: ./content/themes/olaussensmetall/styles/partials/_styles.scss