//
// Setup theme styles
// theme.scss
// Created on 21.9.2015.
//
// @author Fredrik Kallevik <fredrik@idrift.no>
// @copyright 2012 - 2015 iDrift Web AS
// @version 1.0.0


// Core variables and mixins
@import "../vendor/bootstrap/scss/variables";
@import "partials/variables";
@import "../vendor/bootstrap/scss/mixins";
@import "partials/mixins";

// // Reset and dependencies
@import "../vendor/bootstrap/scss/normalize";
@import "../vendor/bootstrap/scss/print";

// Core CSS
@import "partials/reboot";
@import "partials/type"; 
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/code";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";

// // Components
// @import "../vendor/bootstrap/scss/animation";
// @import "../vendor/bootstrap/scss/dropdown";
// @import "../vendor/bootstrap/scss/button-group";
// @import "../vendor/bootstrap/scss/input-group";
// @import "../vendor/bootstrap/scss/custom-forms";
// @import "../vendor/bootstrap/scss/nav";
// @import "../vendor/bootstrap/scss/navbar";
// @import "../vendor/bootstrap/scss/card";
// @import "../vendor/bootstrap/scss/breadcrumb";
// @import "../vendor/bootstrap/scss/pagination";
// @import "../vendor/bootstrap/scss/pager";
@import "../vendor/bootstrap/scss/labels";
// @import "../vendor/bootstrap/scss/jumbotron";
// @import "../vendor/bootstrap/scss/alert";
// @import "../vendor/bootstrap/scss/progress";
// @import "../vendor/bootstrap/scss/media";
// @import "../vendor/bootstrap/scss/list-group";
// @import "../vendor/bootstrap/scss/responsive-embed";
// @import "../vendor/bootstrap/scss/close";

// Components w/ JavaScript
// @import "../vendor/bootstrap/scss/modal";
// @import "../vendor/bootstrap/scss/tooltip";
// @import "../vendor/bootstrap/scss/popover";
// @import "../vendor/bootstrap/scss/carousel";

// Utility classes
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/utilities-spacing";
@import "../vendor/bootstrap/scss/utilities-responsive";

// Font Awesome
@import "../vendor/font-awesome/scss/variables";
@import "../vendor/font-awesome/scss/mixins";
@import "../vendor/font-awesome/scss/path";
@import "../vendor/font-awesome/scss/core";
@import "../vendor/font-awesome/scss/larger";
@import "../vendor/font-awesome/scss/fixed-width";
@import "../vendor/font-awesome/scss/list";
@import "../vendor/font-awesome/scss/bordered-pulled";
@import "../vendor/font-awesome/scss/animated";
@import "../vendor/font-awesome/scss/rotated-flipped";
@import "../vendor/font-awesome/scss/stacked";
@import "../vendor/font-awesome/scss/icons";



// Theme
@import "partials/style";
@import "partials/buttons";
@import "partials/responsive";


// End of file theme.scss 
// Location: /Users/fredrik/shopify-basic/assets/scss/theme.scss 
